body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #808080;
}

#overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 2em;
    cursor: pointer;
    z-index: 100;
}

#crosshair {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #fff;
    pointer-events: none;
    z-index: 99;
}
