body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #808080;
}

#overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: white;
    cursor: pointer;
    user-select: none;
    z-index: 1;
}

#crosshair {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: white;
    display: none;
    pointer-events: none;
    user-select: none;

    z-index: 2;
}

#scoreboard {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    color: white;
    z-index: 3;
 pointer-events: none;
}


